/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #fff;
}

content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 80%;

    margin: auto;
}

header {
    background-color: #2f2f2f;
    
    display: flex;
    align-items: center;

    margin: 20px 10px 0 10px;
    border-radius: 10px;

    height: 60px;
}

header a {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 100%;
}

header a img {
    margin-left: 20px;
    max-height: 90%;
    border-radius: 50%;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 300px;
}

#add-task-button {
    background-color: #7979ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.task-container {
    display: flex;
    justify-content: space-between;

    height: 500px;
    margin-top: 50px;
}

.to-do-container, .completed-container {
    background-color: #2f2f2f;
    border-radius: 10px;
    padding: 20px;

    width: 48%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.to-do-list, .completed-list {
    width: 100%;
    min-height: 90%;
    background-color: #1e1e1e;
    list-style-type: none; 
    overflow-y: scroll;

    background-color: #3f3f3f;
    margin-top: 20px;
    padding: 5px;
}

li {
    margin-bottom: 5px;
    height: 50px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
li:nth-child(3n) {
    background-color: #ff7979;
}
li:nth-child(3n+1) {
    background-color: #79ff79;
}
li:nth-child(3n+2) {
    background-color: #7979ff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-task-modal, .show-task-modal {
    background: #2f2f2f;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 9999;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 500px;
    width: 500px;
}

footer {
    background-color: #2f2f2f;
    
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    font-size: 14px;
} */